* {
    box-sizing: border-box;
}

body {
    background-color: #fb6b6b;
    font-family: 'Recursive';
    font-weight: 400;
}

.background {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background img {
    height: 160px;
}

.background h1 {
    font-family: 'Righteous';
    color: white;
    font-size: 36px;
    margin-bottom: 40px;
}

.background button {
    width: 250px;
    height: 50px;
    background-color: white;
    font-size: 18px;
    color: #fb6b6b;
    border: 1px #D70900;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 30px 0px;
}

.header img {
    height: 60px;
    width: 50px;
}

.header h1 {
    height: 60px;
    font-family: 'Righteous';
    font-size: 36px;
    color: white;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 20px;
}

.footer {
    min-height: 70px;
    width: 100%;
    font-size: 18px;
    color: #333333;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    margin-top: 25px;
    padding: 5px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.footer div {
    margin-bottom: 5px;
}

.messageTitle {
    font-weight: 700;
    display: flex;
    margin: 15px 0px 15px 0px;
}

.messageTitle img {
    height: 25px;
    width: 25px;
    margin-right: 10px;
}

.messageContent {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.deck {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck > .card:last-child {
    margin-bottom: 130px;
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card ion-icon {
    font-size: 40px;
    --ionicon-stroke-width: 40px;
}

.closed {
    width: inherit;
    background-color: white;
    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    cursor: pointer;
}

.open {
    height: 200px;
    width: inherit;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFD4;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 20px;
}

.open span {
    height: 180px;
    font-size: 18px;
    font-weight: 400;
}

.open div {
    display: flex;
    align-items: center;
    justify-content: right;
}

.open img {
    cursor: pointer;
}

.answer {
    height: 200px;
    width: inherit;
    background-color: #FFFFD4;
    padding: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 20px;
}

.answer span {
    height: 100px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.choices span{
    height: 40px;
    width: 85px;
    font-size: 12px;
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.fail {
    background-color: #FF3030;
    margin-right: 10px;
}

.almost {
    background-color: #FF922E;
    margin-right: 10px;
}

.success{
    background-color: #2FBE34;
}

.failed span {
    color: #FF3030;
    text-decoration: line-through;
}

.almostGotIt span {
    color: #FF922E;
    text-decoration: line-through;
}

.succeeded span {
    color: #2FBE34;
    text-decoration: line-through;
}

.failed ion-icon {
    color: #FF3030;
    font-size: 30px;
}

.almostGotIt ion-icon {
    color: #FF922E;
    font-size: 30px;
}

.succeeded ion-icon {
    color: #2FBE34;
    font-size: 30px;
}

.closed.failed {
    cursor: default;
}

.closed.almostGotIt {
    cursor: default;
}

.closed.succeeded {
    cursor: default;
}
